<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Bunifu.Reports" version="1.0.5" targetFramework="net45" />
  <package id="Bunifu.UI.WinForms" version="5.0.7" targetFramework="net45" />
  <package id="Dapper" version="1.50.5" targetFramework="net472" />
  <package id="Humanizer.Core" version="2.6.2" targetFramework="net472" />
  <package id="MySql.Data" version="6.9.12" targetFramework="net45" />
  <package id="OpenHtmlToPdf" version="1.12.0.0" targetFramework="net45" />
  <package id="SqlKata" version="2.2.0" targetFramework="net45" />
  <package id="SqlKata.Execution" version="2.2.0" targetFramework="net472" />
</packages>